 
    <header>
        <nav>
            <div class="logo">BloodInNeed</div>
            <ul>
                <li><a href="#index">Home</a></li>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#why-donate">Why We Donate Blood</a></li>
                <li><a href="request">Blood Request</a></li>
            </ul>
        </nav>
    </header>